<launch>
    <!-- Map Config -->
    <arg name="map_name" value="Factory"/>
    <arg name="map_size_x" value="60.0"/>
    <arg name="map_size_y" value="40.0"/>
    <arg name="map_size_z" value="10.0"/>

    <!-- Robot Config -->
    <arg name="explorer_uav_ids" value="0,1,2" />
    <arg name="odom_topic" value="visual_slam/odom" />

    <node name="visualizer" pkg="test" type="map.py" output="screen" 
    args="package://test/files/$(arg map_name).dae"/>
    <node pkg="map_generator" name="map_pub" type="map_pub" output="screen"
	args="$(find test)/files/$(arg map_name).pcd" />
</launch>